/* Styles specific to the homepage */
.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
